
	<section id="<%= problem.content[i].sectionId %>">
		<h3><%= problem.content[i].sectionName %></h3>
		<hr>
		<!-- from http://getbootstrap.com/2.3.2/javascript.html#tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#<%= problem.content[i].sectionId %>View" data-toggle="tab">View</a></li>
			<li><a href="#<%= problem.content[i].sectionId %>Edit" data-toggle="tab">Edit</a></li>
		</ul>
		<div id="<%= problem.content[i].sectionId %>Content" class="tab-content">
			<div class="tab-pane fade in active" id="<%= problem.content[i].sectionId %>View">
			    <p>
					<%= problem.content[i].sectionText %>
			    </p>
			</div>
			<div class="tab-pane fade" id="<%= problem.content[i].sectionId %>Edit">
			<form name="<%= problem.content[i].sectionId %>Input" action="/submitEdit">
				<input type="hidden" name="problemName" value="<%= problem.nid %>">
				<input type="hidden" name="problemSection" value="<%= problem.content[i].sectionId %>">
				<input type="hidden" name="problemOldText" value="<%= problem.content[i].sectionText %>">
			    	<textarea name="problemNewText" rows="10" cols="300" class="span9"><%= problem.content[i].sectionText %></textarea>
				<button type="submit" class="btn">Save</button>
			</form>
			</div>
		</div>
	</section>