<% sections.forEach(function(sc) { %>
	<section id="<%= sc.nid %>">
		<h3><%= sc.name %></h3>
		<hr>
		<!-- from http://getbootstrap.com/2.3.2/javascript.html#tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#<%=sc.nid%>View" data-toggle="tab">View</a></li>
			<li><a href="#<%=sc.nid%>Edit" data-toggle="tab">Edit</a></li>
		</ul>
		<div id="<%=sc.nid%>Content" class="tab-content">
			<div class="tab-pane fade in active" id="<%=sc.nid%>View">
			    <p>
					<% problem.sc %>
			    </p>
			</div>
			<div class="tab-pane fade" id="<%=sc.nid%>Edit">
			<form name="<%=sc.nid%>Input" action="/submitEdit">
				<input type="hidden" name="problemName" value="<%= problem.nid %>">
				<input type="hidden" name="problemSection" value="<%=sc.nid%>">
				<input type="hidden" name="problemOldText" value="<%= problem.sc %>">
			    	<textarea name="problemNewText" rows="10" cols="300" class="span9"><% problem.sc %></textarea>
				<button type="submit" class="btn">Save</button>
			</form>
			</div>
		</div>
	</section>
<% })%>