<!-- from http://getbootstrap.com/2.3.2/javascript.html#carousel -->
	  <div id="myCarousel" class="container carousel slide" data-ride="carousel">
	    <!-- <ol class="carousel-indicators">
	    	<% for(var i = 0; i < carouselItems.length; i++) { %>
	    	<li data-target="#myCarousel" data-slide-to="<%=i%>" <% if(i==0) { %>class="active"<%}%> ></li>
	    	<% } %>
	    </ol> -->
	    <!-- Carousel items -->
		<!-- layout of each carousel item formatted similar to https://github.com/sjuvekar/3Dthon/blob/master/index.html -->
	    <div class="carousel-inner">
	    	<% for(var i = 0; i < carouselItems.length; i++) { %>
	    	<div class="item <% if(i==0) { %>active<%}%>" style="background-image: url(<%= carouselItems[i].pic %>)">
  				<a href="<%= carouselItems[i].url %>"><div class="container">
  			    	<div class="carousel-caption">
  			     	 	<h1 style="color: <%= carouselItems[i].color %>"><%= carouselItems[i].text %></h1>
  			     	 	<p class="lead"><%= carouselItems[i].subtext %></p>
  					</div>
  				</div></a>
  			</div>
	    	<% } %>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>