<!DOCTYPE html>
<html lang="en">
<head>
	
    <title>Dashboard | <%= user.name %></title>
	
	<% include headers %>
</head>
<body>
	<div id="fb-root"></div>
	<!-- Facebook JavaScript SDK -->
	<% include FacebookJavascriptSDK %>
	
  <!-- navigation pane -->
  <% include navbar %>
  <% include navid %>
  
  <!-- image from http://pixabay.com/static/uploads/photo/2012/12/25/06/11/ball-72374_640.jpg -->
  <!-- style="background-image:url('/assets/img/ball-72374_640.jpg');" -->
  <header class="jumbotron">
    	<div class="row-fluid">
    	  <div class="span9 offset3">
    		  <div class="row-fluid heading">
    			  <h2><%= user.name %></h2>
    		  </div>
	  		  <div class="row-fluid subheading">
	  			  <p class="lead">The Unsolved Problems Database</p>
	  		  </div>
    	  </div>
    	</div>
  </header>
  
  <div class="row-fluid">
	  <!-- modified from http://bootsnipp.com/snipps/admin-sidebar-menu -->
	  <div class="span3 sidebar-nav">
	  	<div class="well" style="width:300px; padding: 8px 0; text-align:center;">
	  		<ul class="nav nav-list"> 
	  		  <li class="nav-header"> Navigation Pane</li>  
			  <li class="divider"></li>      
			  <li><a href="#sandbox"> Sandbox</a></li>
	  		  <li><a href="#edits"> Edits History</a></li>
			  <li><a href="#contributions"> Forum Contributions</a></li>
			  <li class="divider"></li>
	  		  <li><a href="/logout"> Logout</a></li>
	  		</ul>
	  	</div>
	  </div>
	  <div class="span9">
		  <% include alert %>
		  <section id="sandbox">
			  <h3>Sandbox</h3>
			  <hr>
			  <textarea rows="10" cols="300" class="span9">This is an area to practice editing site content.</textarea>
		  </section>
		  <section id="edits">
			  <h3>Edits History</h3>
			  <hr>
			  <% if(user.edits.length == 0) { %>
			  You haven't edited anything yet.
			  <% } else { %>
				  <!-- modified from http://bootsnipp.com/snipps/groupable-table -->
				  <table class="table table-striped table-condensed">
				  						<thead>
				  							<tr>
				  								<th>Problem</th>
				  								<th>Topic</th>
												<th>Date</th>
												<th>Changes</th>
				  							</tr>
				  						</thead>   
				  						<tbody>
											<% user.edits.forEach(function(edit){ %>
												<tr>
													<td><a href="/problem/<%= edit.problem %>"><%= edit.problem.name %></a></td>
													<td><%= edit.problem.topic %></td>
													<td><%= edit.problem.date %></td>
													<td><%= edit.problem.changes %></td>
												</tr>
											  <% }) %>
				  						</tbody>
				  </table>
				  <% } %>
		  </section>
		  <section id="contributions">
			  <h3>Forum Contributions</h3>
			  <hr>
			  <% if(user.contributions.length == 0) { %>
			  You haven't discussed anything yet.
			  <% } else { %>
				  <!-- modified from http://bootsnipp.com/snipps/groupable-table -->
				  <table class="table table-striped table-condensed">
				  						<thead>
				  							<tr>
				  								<th>Problem</th>
				  								<th>Topic</th>
												<th>Date</th>
												<th>Comment</th>
				  							</tr>
				  						</thead>   
				  						<tbody>
											<% user.contributions.forEach(function(comment){ %>
												<tr>
													<td><a href="/problem/<%= edit.problem %>"><%= comment.problem.name %></a></td>
													<td><%= comment.problem.topic %></td>
													<td><%= comment.problem.date %></td>
													<td><%= comment.problem.changes %></td>
												</tr>
											  <% }) %>
				  						</tbody>
				  </table>
				  <% } %>
		  </section>
	  </div>
  </div>
  
  <% include footer %>
  
  <% include scripts %>
</body>
</html>